import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';

const moduleDependencies = [];

@NgModule({
  declarations: [],
  imports: [CommonModule, ...moduleDependencies],
  exports: []
})
export class <%= moduleName %> {}
